body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }
/*
The content `<div>` is where all your content goes.
*/

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 2em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}

body {
    background: #f7f7f7;
    font-size: 16px;
}

.content {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.content > .pure-g {
    margin-left: -10px;
    margin-right: -10px;
}

p {
    margin-bottom: 15px;
    margin-top: 0;
}

a {
    text-decoration: none;
}

/**
 * Menu
 */

.main-menu {
    background: #5c5c5c;
    box-shadow: inset 0 -10px 7px -10px rgba(0, 0, 0, 0.8);
    overflow-x: scroll;
    overflow-y: hidden;
}

.main-menu .content {
    padding: 0;
}

.pure-menu-item {
    height: auto;
}

.main-menu .pure-menu-link {
    padding: 1.2em;
    padding-bottom: 1.0em;
    padding-top: 1em;
    color: white;
}

.pure-menu-link:hover {
    background: #898989;
    color: white;
}

.pure-menu-link.active {
    background: #f7f7f7;
    color: #5c5c5c;
}

/**
 * Misc.
 */

.color-area {
    height: 40px;
    width: 100%;
    background: gray;
    margin-bottom: 15px;
    margin-top: 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.button-xl {
    font-size: 150%;
}

.pure-g.colors > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pure-g.colors > div{
    padding: 0.3em;
}

.pure-g.colors button {
    width: 100%;
    height: 40px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
}

/**
 * Forms / Radio
 */

label.pure-radio {
    padding: 5px;
    display: inline-block;
}

label.pure-radio input[type="radio"] {
    margin-top: -14px;
    display: inline-block;
}

/**
 * Slider
 */

input[type="range"],
input[type="range"]:focus,
input[type="range"]:active,
input[type="range"]::-moz-focus-inner,
input[type="range"]:-moz-focusring,
input[type="range"]::-moz-focus-outer{
    border: 0;
    outline: none;
}


input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 20px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
    cursor: pointer;
    background: #ddd;
    border: none;
    border-radius: 100px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    margin-top: -11px; /* ios Safari needs this to correctly position the thumb/knob */
    border-radius: 200px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=range]::-moz-range-track {
    height: 6px;
    background: #ddd;
    border: none;
    border-radius: 100px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=range]::-moz-range-thumb {
    height: 28px;
    width: 28px;
    border-radius: 200px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.slider-label {
    margin-top: 11px;
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
}

.slider-label .value {
    float: right;
    margin-right: 15px;
}

/**
 * Sections
 */

.section, .section-connection-lost{
    display: none;
}

.section-connection-lost .box{
    background: #ffe9e9;
    color: #a94442;
    text-align: center;
    border: 1px solid #e0b2b2;
    box-shadow: none;
}

.section-connection-lost .status-button{
    float: right;
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    margin-left: 20px;
}

.section-main {
    display: block;
}

.box-debug {
    overflow: hidden;
    overflow-wrap: break-word;
}

.box-debug > div{
    font-family: monospace;
}

.brightness, .speed, .functions-settings, .leds, .position{
    display: none;
}

/**
 * Settings
 */

.section-settings > div, .section-settings .pure-u-1, .section-settings .box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-settings .pure-u-1 {
    padding-bottom: 20px;
}

.section-settings .box {
    height: 100%;
}

.status.online {
    color: green;
}

.status.offline {
    color: red;
}

/**
 * Box
 */

.box {
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
    background: #fff;
    border-radius: 3px;
    color: #5f6368;
}

.box h2 {
    margin-top: -5px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 1.1em;
}
