name: Run clang-format Linter

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.18.2
      with:
        source: '.'
        extensions: 'h,hpp,cpp,ino'
        clangFormatVersion: 11
